{% extends 'base.html' %}
  {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <meta name="theme-color" content="#cec3c8">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-third img.HomeP{margin-bottom: -6px; opacity: 0.8; cursor: pointer}
.w3-third img.Homep:hover{opacity: 1}

       h1,p{
      color:#714d69;
      }

      img.Homep{
      width: 20rem;
        height: 40vh;
      }

      h1,p{
      font-family: 'Bungee shade', cursive;
      text-align: center;
      }
      body {
	background: #eeeeee;
}

</style>
</head>
<body class="w3-light-grey w3-content" style="max-width:1000px">
<h1> {{ Content.main_title }}</h1>
<br>

<!-- Top menu on small screens -->


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div >

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>

  <!-- Photo grid -->
  <div class="w3-row">
    <div class="w3-row">
      <div class="w3-third">
        <img src="{{ Content.image1.url }}" style="width:100%" onclick="onClick(this)" >
        <img src="{{ Content.image4.url }}"style="width:100%" onclick="onClick(this)">
  
      </div>
  
      <div class="w3-third">
        <img src="{{ Content.image2.url }}" style="width:100%" onclick="onClick(this)" >
        <img src="{{ Content.image5.url}}" style="width:100%" onclick="onClick(this)" >
  
      </div>
  
      <div class="w3-third">
        <img src="{{ Content.image3.url }}" style="width:100%" onclick="onClick(this)" >
        <img src="{{ Content.image6.url }}" style="width:100%" onclick="onClick(this)" >
  
      </div>
    </div>
      <br>
  <p class="lead">{{ Content.sub_title }}</p>

      <a href ="{% url 'products'%}" class="nav-link px-2 link-secondary" style="background-color:#cec3c8; text-align: center;">SHOP NOW</a>
    <script type="text/javascript">
      (function(d, m){
          var kommunicateSettings = 
              {"appId":"3188a84c8fcebbb84fe1d4f0cf5c02ed8","popupWidget":true,"automaticChatOpenOnNavigation":true};
          var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
          s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
          var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
          window.kommunicate = m; m._globals = kommunicateSettings;
      })(document, window.kommunicate || {});
  /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
  </script>
</body>
</html>



</script>
</html>
{% endblock %}
